---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ol {
				margin-bottom: 0px;
			}
			.white {
				color: white;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1 class="title">👋 Hey there</h1>
			<p>
				I go by <span class="white">Grayvox</span> online, or <span class="white">Gray</span> for short. 🐺 
			</p>
			<blockquote>
				Grayvox <span class="quote-mini-text">/grā-vŏks/</span>
				<ol class="quote-mini-text">
					<li>
						An insane individual, one of a kind yet not in a positive way all the time.
					</li>
					<li>
						A mystical wolf that floats between dimensions as he pleases.
					</li>
					<li>
						A storyteller, wishing to share his thoughts without embarrassment... often failing.
					</li>
					<li>
						All of the above.
					</li>
				</ol>
			</blockquote>
			<img src="/FourthOption.png" alt="I'm the fourth option">
			<p>
				I consider myself a person of many hats. More specifically, an individual incapable of actually focusing on one thing at a time.
				Currently, I'm teaching myself computer science full time.
			</p>
		</main>
		<Footer />
	</body>
</html>
