---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Status from '../components/Status.astro'
import Roles from '../components/Roles.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.ts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ol {
				margin-bottom: 0px;
			}
			.white {
				color: white;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1 class="title">👋 Hey there</h1>
			<p>
				I go by <span class="white">Grayvox</span> online, or <span class="white">Gray</span> for short. 🐺 
			</p>
			<blockquote>
				Grayvox <span class="mini-text">/grā-vŏks/</span>
				<ol class="mini-text">
					<li>
						An insane individual, one of a kind yet not in a positive way all the time.
					</li>
					<li>
						A mystical wolf that floats between dimensions as he pleases.
					</li>
					<li>
						A storyteller, wishing to share his thoughts without embarrassment... often failing.
					</li>
					<li>
						All of the above.
					</li>
				</ol>
			</blockquote>
			<img src="/scribbles/FourthOption.png" alt="I'm the fourth option">
			<p>
				I am an avid multitasker and cannot focus on one thing for too long. Call it whatever you want, but it's <i>not</i> a trait I enjoy.
			</p>
			<p>
				Want to know what I'm up to? Well, let me introduce you to this fancy box with large amounts of <code>box-shadow</code> used on it.
			</p>
			<Status />
			<p>
				I consider myself a person of many hats. More specifically, an individual incapable of actually focusing on one thing at a time.
				I hold many a role, mostly of minimal importance, but here they are anyway:
			</p>
			<Roles />
			<p>
				Thanks for visiting my little corner on the internet. Enjoy the reading! ✌️
			</p>
		</main>
		<Footer />
	</body>
</html>
