---
import { LINKS } from "../consts";
---

<div>
    <p>
        Home page wasn't enough for you? Honestly I'm glad you're here regardless, because SOMEONE has to read 
        this or it was all for nothing. 😭
    </p>
    <p>
        Anyway... greetings, wanderer of the interwebs. My name is Gray, short for Grayvox. 
        That's not my real name of course, as I prefer some sense of privacy on the interwebs.
    </p>
    <p>
        I'm currently helping build <a href="https://stable.dev" rel="noopener noreferrer">stable.dev</a>, a startup 
        focused on giving developers the ability to just push their code to GitHub and have their bot up and running thanks to our easy
        and effective hosting solutions.
    </p>
    <p>
        Most of my projects are freely accessible on my <a href={LINKS.github} rel="noopener noreferrer">GitHub</a>, except for my games
        which I prefer to keep private. I do have <a href=`${LINKS.github}/godot-fcc-game` rel="noopener noreferrer">one game</a> publicly 
        available though, which is the first one I
        ever made with Godot.
    </p>
    <p>
        Now onto the organized part! Below you'll find a list of the tech I've used, interests I have (fields of 
        expertise?), and life achievements I've unlocked (somehow).
    </p>
    <p>
        Naturally, we're going to divide this into multipoint lists and special boxes with super cool 
        <code>box-shadow</code> properties tied to them for as much dramatic effect as possible.
    </p>
    <p>
        Ready, dear traveller? LET'S A GO! *Mario pipe noises*
    </p>
</div>