---
import { LINKS } from "../consts";
---

<div class="special-box">
    <h3>Achievements</h3>
    <span class="mini-text">Some things I've done, somehow.</span>
    <ul>
        <li>
            🎮 Competed in 1 game jam with a game called <a href="https://grayvox.itch.io/noirdo" rel="noopener noreferrer">Noirdo</a>.
        </li>
        <li>
            📋 Created a <a href=`${LINKS.github}/rails-alternatives` rel="noopener noreferrer">simple repo</a> for alternatives to Ruby on Rails.
        </li>
        <li>
            🎰 Built a total of 3 different Discord Bots (Only 1 has a <a href=`${LINKS.github}/on-this-day-bot` rel="noopener noreferrer">public repo</a> though).
        </li>
    </ul>
</div>