---
import Card from "./Card.astro";
---

<Card>
    <h5>Currently, I'm...</h5>
    <ul>
        <li>
            🦫 Helping build <a href="https://stable.dev" target="_blank" rel="noopener noreferrer">stable.dev</a>
        </li>
        <li>
            🧬 Learning React and Next.js (shoot me now)
        </li>
        <li>
            🔧 Building a Discord bot to manage <a href="https://discord.gg/cX5UGfpexf" target="_blank" rel="noopener noreferrer">my community Discord</a>
        </li>
        <li>
            🧠 Dabbling in more advanced JavaScript concepts for employment purposes
        </li>
    </ul>
    <p class="mini-text">Status last updated March 2nd, 2025</p>
</Card>