<div class="special-box">
    <h3>Technologies</h3>
    <h5>Frontend</h5>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=html" /></a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=css" /></a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=js" /></a>
    <a href="https://typescriptlang.org" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=ts" /></a>
    <a href="https://react.dev" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=react" /></a>
    <a href="https://nextjs.org" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=nextjs" /></a>
    <a href="https://astro.build" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=astro" /></a>
    <a href="https://tailwindcss.com" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=tailwind" /></a>
    <a href="https://vite.dev" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=vite" /></a>
    <h5>Backend</h5>
    <a href="https://bun.sh" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=bun" /></a>
    <a href="https://nodejs.org" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=nodejs" /></a>
    <a href="https://docker.com" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=docker" /></a>
    <h5>Game Dev</h5>
    <a href="https://java.com" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=java" /></a>
    <a href="https://godotengine.org" rel="noopener noreferrer"><img src="https://skillicons.dev/icons?i=godot" /></a>
</div>